.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stage_directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: burlywood;
    color: black;
    
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    
}
.hover:hover{
    background-color: cyan;
    color: deeppink;
}
.lord{
    color: forestgreen;

}
.gerald{
    color: maroon;
  
}
.table{
    border: crimson;
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
}
.data{
    border: black;
    border-style: dotted;
    padding:20px;
  
  }
tr:nth-child(even){
      background-color: chartreuse;
  }
.name:hover{
    text-shadow :2px 2px cyan;
    border-style: double;
    border-color: wheat;
}
.navbar-horizontal li{
    float:left;
    color: black;
    border: 1px solid black;
    
}
.navbar-horizontal a{
    display:block;
    padding:8px;
}
